---
// src/components/Nav.astro
---

<nav class="main-nav">
  <div class="nav-container">
    <a href="/" class="logo">OceanPhenix</a>
    <ul class="nav-links">
      <li><a href="/#home">Accueil</a></li>
      <li><a href="/#platforms">Plateformes</a></li>
      <li><a href="/rag-2026">RAG 2026</a></li>
      <li><a href="/veille">Veille</a></li>
      <li>
        <a href="https://www.linkedin.com/in/stephane-celton" target="_blank" rel="noopener">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
      </li>
    </ul>
  </div>
</nav>
